.hero {
  height: 100vh;

  .title {
    font-size: $fz40;
    padding-top: 20vh;
    text-align: center;
    animation: fadein 2s;
    position: relative;
    z-index: 1;
  }


  &__img {
    position: absolute;
    height: 100vh;
    top: 0;
    left: 0;
    width: 100%;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

.content-container {
  padding-bottom: 10vh;
}

@media (max-width: $break-900) {
  .hero {
    align-items: flex-start;
    width: 90%;
    margin: 0 auto;
  }
}

@media (max-width: 375px) {
  .hero {
    .title {
      font-size: 24px;
    }
  }
}

.socials {
  position: relative;
  text-align: right;
  top: 67vh;
}


@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
