.hero {
  height: 100vh;

  .title {
    font-size: $fz40;
    padding-top: 20vh;
    text-align: center;
  }

  &__img {
    position: absolute;
    height: 100vh;
    top: 0;
    left: 0;
    width: 100%;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

.content-container {
  padding-bottom: 10vh;
}

@media (max-width: $break-900) {
  .hero {
    align-items: flex-start;
    width: 90%;
    margin: 0 auto;
  }
}

@media (max-width: 375px) {
  .hero {
    .title {
      font-size: 24px;
    }
  }
}

.socials {
  //bottom: 5vh;
  //position: absolute;
  //display: flex;
  //justify-content: flex-end;
  //z-index: 1;
  position: relative;
  text-align: right;
  top: 67vh;
}
