@import "variables";
@import "header";
@import "hero";
@import "scrollbar";
@import "home";
@import "content-with-image";
@import "offer";
@import "contact";
@import "products";

@font-face {
  font-family: "Estilo";
  src: url('~assets/fonts/EstiloText-Light.otf') format("OpenType");
}

body {
  overflow-x: hidden;
  background-image: url("~/assets/img/logo-solo-5p.png");
  background-size: cover;
  z-index: -1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $black;
  line-height: 1.5;
  font-size: 16px;
  font-family: 'Estilo';
}

.site {
  padding-top: 10vh;
  min-height: 95vh;
}

.container {
  width: calc(min(1320px, 90%));
  margin: 0 auto;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-title {
  font-size: $fz50;
  position: relative;
  border-bottom: 1px solid $black;
  display: inline-block;
  margin: 20px auto;
}

a {
  text-decoration: none;
}
