@import "variables";
@import "header";

@font-face {
  font-family: "Estilo";
  src: url('~assets/fonts/EstiloText-Light.otf') format("OpenType");
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $black;
  line-height: 1.5;
  font-size: 16px;
  font-family: 'Estilo';
}
