@import "variables";
@import "header";
@import "hero";
@import "scrollbar";
@import "home";
@import "content-with-image";
@import "offer";
@import "contact";
@import "products";

@font-face {
  font-family: 'estilo_textlight';
  src: url('~assets/fonts/estilotext-light.woff2') format('woff2'),
  url('~assets/fonts/estilotext-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $black;
  line-height: 1.5;
  font-size: 16px;
  font-family: 'estilo_textlight';
}

body {
  overflow-x: hidden;
  background-image: url("~/assets/img/logo-solo-5p.png");
  z-index: -1;
}

.site {
  padding: 10vh 0;
  min-height: 95vh;
}

.container {
  width: calc(min(1320px, 90%));
  margin: 0 auto;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-title {
  font-size: $fz50;
  position: relative;
  border-bottom: 1px solid $black;
  display: inline-block;
  margin: 5vh auto;
  text-align: center;
}

.page-enter-active, .page-leave-active {
  transition: opacity .5s;
}

.page-enter, .page-leave-to {
  opacity: 0;
}
 
.cool-lightbox svg path, .cool-lightbox svg rect {
  fill: white !important;
}
